<a href="https://colab.research.google.com/github/diahangelika/data-analyst/blob/data-analyst/mini_proj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import math

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/BOOTCAMP/PANDAS AND NUMPY/bali_tourist.csv")

In [ ]:
df

,year,area,country,January,February,March,April,May,June,July,August,September,October,November,December
0,2019,ASIA PACIFIC,AUSTRALIAN,95536,67474,83002,90265.0,98625,110815,123293,118556,124416,119382,105312,110711
1,2019,ASIA PACIFIC,BHUTAN,60,30,47,38.0,31,31,46,67,43,32,56,60
2,2019,ASIA PACIFIC,BANGLADESH,2262,2094,2489,2264.0,1938,4265,2656,2307,2035,2371,2164,2671
3,2019,ASIA PACIFIC,FIJI,91,73,72,77.0,42,62,2656,80,68,78,89,189
4,2019,ASIA PACIFIC,HONGKONG,1313,1367,764,6.0,1,5,2,1,0,11,0,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2018,MIDDLE EAST,TURKEY,899,615,750,960.0,712,909,1306,1630,979,707,514,521
358,2018,MIDDLE EAST,UNITED ARAB EMIRATES,170,132,266,264.0,111,293,375,306,164,151,147,201
359,2018,MIDDLE EAST,YAMAN,98,49,76,55.0,23,62,40,52,67,37,60,85
360,2018,MIDDLE EAST,JORDAN,225,153,236,352.0,150,260,389,448,283,255,218,254
361,2018,OTHER NATIONALITIES,OTHER NATIONALITIES,6952,1704,1771,2484.0,2167,3711,2054,1269,1762,2604,3298,673

In [ ]:
df.set_index("year", inplace = True)

df

,area,country,January,February,March,April,May,June,July,August,September,October,November,December
year,,,,,,,,,,,,,,
2019,ASIA PACIFIC,AUSTRALIAN,95536,67474,83002,90265.0,98625,110815,123293,118556,124416,119382,105312,110711
2019,ASIA PACIFIC,BHUTAN,60,30,47,38.0,31,31,46,67,43,32,56,60
2019,ASIA PACIFIC,BANGLADESH,2262,2094,2489,2264.0,1938,4265,2656,2307,2035,2371,2164,2671
2019,ASIA PACIFIC,FIJI,91,73,72,77.0,42,62,2656,80,68,78,89,189
2019,ASIA PACIFIC,HONGKONG,1313,1367,764,6.0,1,5,2,1,0,11,0,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,MIDDLE EAST,TURKEY,899,615,750,960.0,712,909,1306,1630,979,707,514,521
2018,MIDDLE EAST,UNITED ARAB EMIRATES,170,132,266,264.0,111,293,375,306,164,151,147,201
2018,MIDDLE EAST,YAMAN,98,49,76,55.0,23,62,40,52,67,37,60,85
2018,MIDDLE EAST,JORDAN,225,153,236,352.0,150,260,389,448,283,255,218,254
2018,OTHER NATIONALITIES,OTHER NATIONALITIES,6952,1704,1771,2484.0,2167,3711,2054,1269,1762,2604,3298,673

In [ ]:
total = df.iloc[0: , 2:]
tot = total.sum()

dt_tot = []
for i,y in tot.items():
  dt_tot.append(y)

total_turis = sum(dt_tot)

print(f"total turis pada tahun 2018 dan 2019 adalah {int(total_turis)}")

total turis pada tahun 2018 dan 2019 adalah 12348398

In [ ]:
rata_turis = total_turis / len(dt_tot)

print(f"rata-rata turis pada tahun 2018 dan 2019 adalah {int(rata_turis)}")

rata-rata turis pada tahun 2018 dan 2019 adalah 1029033

**TOTAL DAN RATA RATA TURIS PADA TAHUN 2018 DAN 2019**

In [ ]:
df_2019 = df.loc[2019]
df_2018 = df.loc[2018]

print("Data for 2019:")
dt2019 = df_2019.iloc[0: , 2:]
print(dt2019)


print("\nData for 2018:")
dt2018 = df_2018.iloc[0: , 2:]
print(dt2018)

Data for 2019:
      January  February  March    April    May    June    July  August  \
year
2019    95536     67474  83002  90265.0  98625  110815  123293  118556
2019       60        30     47     38.0     31      31      46      67
2019     2262      2094   2489   2264.0   1938    4265    2656    2307
2019       91        73     72     77.0     42      62    2656      80
2019     1313      1367    764      6.0      1       5       2       1
...       ...       ...    ...      ...    ...     ...     ...     ...
2019      688       529    629    800.0    638    1299    1069    1016
2019      181       141    229    239.0     65     438     322     433
2019       77        75     81     58.0     18      93      76      95
2019      238       155    254    290.0     97     452     484     564
2019     2927       196   1370   2215.0    139    3649    2230    2648

      September  October  November  December
year
2019     124416   119382    105312    110711
2019         43       32        56        60
2019       2035     2371      2164      2671
2019         68       78        89       189
2019          0       11         0        45
...         ...      ...       ...       ...
2019        933     1380      1617      1268
2019        203      147       340       297
2019         79       68        82        94
2019        312      248       322       333
2019       7262     7502      4997      3119

[182 rows x 12 columns]

Data for 2018:
      January  February  March    April     May    June    July  August  \
year
2018    86658     70946  89466  91007.0  101840  104960  114590  104010
2018       20        20     22     25.0      13      13      26      21
2018     3153      2067   2805   2554.0    1286    3166    1555    2226
2018       48        57     50     44.0      51      42      56     101
2018     1679      2721   3483   3432.0    4171    4356    4160    3202
...       ...       ...    ...      ...     ...     ...     ...     ...
2018      899       615    750    960.0     712     909    1306    1630
2018      170       132    266    264.0     111     293     375     306
2018       98        49     76     55.0      23      62      40      52
2018      225       153    236    352.0     150     260     389     448
2018     6952      1704   1771   2484.0    2167    3711    2054    1269

      September  October  November  December
year
2018     110792   105895     87344    103575
2018         25       26        28        44
2018       1719     2116      1897      3500
2018         67       87        56       129
2018       3584     3360      2636      2075
...         ...      ...       ...       ...
2018        979      707       514       521
2018        164      151       147       201
2018         67       37        60        85
2018        283      255       218       254
2018       1762     2604      3298       673

[180 rows x 12 columns]

In [ ]:
tot19 = dt2019.sum()
tot19

January      456218.0
February     437537.0
March        449637.0
April        476327.0
May          485634.0
June         549751.0
July         594279.0
August       616706.0
September    590565.0
October      568064.0
November     497925.0
December     552402.0
dtype: float64

In [ ]:
tot19 = dt2019.sum()

tot_2019 = []
for i,y in tot19.items():
  tot_2019.append(y)

turis_2019 = sum(tot_2019)
rata_turis19 = turis_2019 / len(tot_2019)

print(f"total turis pada tahun 2019 adalah {int(turis_2019)}")
print(f"rata rata turis pada tahun 2019 adalah {int(rata_turis19)}")

total turis pada tahun 2019 adalah 6275045
rata rata turis pada tahun 2019 adalah 522920

In [ ]:
tot18 = dt2018.sum()

tot_2018 = []
for i,y in tot18.items():
  tot_2018.append(y)

turis_2018 = sum(tot_2018)
rata_turis18 = turis_2018 / len(tot_2018)

print(f"total turis pada tahun 2018 adalah {int(turis_2018)}")
print(f"rata rata turis pada tahun 2018 adalah {int(rata_turis18)}")

total turis pada tahun 2018 adalah 6073353
rata rata turis pada tahun 2018 adalah 506112

**TURIS PALING BANYAK PADA TAHUN 2018 DAN 2019**

In [ ]:
max_month_2019 = tot19.idxmax()

max_value_2019 = tot19[max_month_2019]

print(f"total turis paling banyak tahun 2019 adalah bulan {max_month_2019} dengan total {int(max_value_2019)}")

total turis paling banyak tahun 2019 adalah bulan August dengan total 616706

In [ ]:
max_month_2018 = tot18.idxmax()

max_value_2018 = tot18[max_month_2018]

print(f"total turis paling banyak tahun 2019 adalah bulan {max_month_2018} dengan total {int(max_value_2018)}")

total turis paling banyak tahun 2019 adalah bulan July dengan total 624366

**TURIS PALING SEDIKIT PADA TAHUN 2018 DAN 2019**

In [ ]:
min_month_2019 = tot19.idxmin()

min_value_2019 = tot19[min_month_2019]

print(f"total turis paling sedikit tahun 2019 adalah bulan {min_month_2019} dengan total {int(min_value_2019)}")

total turis paling sedikit tahun 2019 adalah bulan February dengan total 437537

In [ ]:
min_month_2018 = tot18.idxmin()

min_value_2018 = tot18[min_month_2018]

print(f"total turis paling sedikit tahun 2018 adalah bulan {min_month_2018} dengan total {int(min_value_2018)}")

total turis paling sedikit tahun 2018 adalah bulan January dengan total 358065

**DATA FRAME BARU**

In [ ]:
# Membuat DataFrame

mon = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
data_turis = {
    'Year': [2018] * 12 + [2019] * 12,
    'Bulan': mon*2,
    'Total': tot_2018 + tot_2019,
}

df_turis = pd.DataFrame(data_turis)

#df_turis

# Memastikan semua bulan ada di DataFrame
all_months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
df_turis['Bulan'] = pd.Categorical(df_turis['Bulan'], categories=all_months, ordered=True)

df_turis_pivot = df_turis.pivot_table(index='Year', columns='Bulan', values='Total', aggfunc='sum')

#df_turis_pivot

# Menambahkan kolom total kedatangan dalam setahun dan rata-rata kedatangan dalam setahun
df_turis_pivot['Max'] = [max_month_2018, max_month_2019]
df_turis_pivot['Min'] = [min_month_2018, min_month_2019]
df_turis_pivot['total kedatangan dalam setahun'] = [turis_2018, turis_2019]
df_turis_pivot['Rata-rata kedatangan dalam setahun'] = [rata_turis18, rata_turis19]

df_turis2 = pd.DataFrame(df_turis_pivot)
df_turis2

Bulan,January,February,March,April,May,June,July,August,September,October,November,December,Max,Min,total kedatangan dalam setahun,Rata-rata kedatangan dalam setahun
Year,,,,,,,,,,,,,,,,
2018,358065.0,452423.0,492678.0,516777.0,528512.0,544550.0,624366.0,573766.0,555903.0,517889.0,407213.0,501211.0,July,January,6073353.0,506112.750000
2019,456218.0,437537.0,449637.0,476327.0,485634.0,549751.0,594279.0,616706.0,590565.0,568064.0,497925.0,552402.0,August,February,6275045.0,522920.416667

In [ ]:
df_area2019 = df.loc[2019]
df_area2018 = df.loc[2018]

print("Data for 2019:")
area2019 = df_area2019.iloc[0: , 0:1]
print(area2019)


print("\nData for 2019:")
area2018 = df_area2018.iloc[0: , 0:1]
print(area2018)

Data for 2019:
                     area
year
2019        ASIA PACIFIC
2019        ASIA PACIFIC
2019        ASIA PACIFIC
2019        ASIA PACIFIC
2019        ASIA PACIFIC
...                   ...
2019          MIDDLE EAST
2019          MIDDLE EAST
2019          MIDDLE EAST
2019          MIDDLE EAST
2019  OTHER NATIONALITIES

[182 rows x 1 columns]

Data for 2019:
                     area
year
2018        ASIA PACIFIC
2018        ASIA PACIFIC
2018        ASIA PACIFIC
2018        ASIA PACIFIC
2018        ASIA PACIFIC
...                   ...
2018          MIDDLE EAST
2018          MIDDLE EAST
2018          MIDDLE EAST
2018          MIDDLE EAST
2018  OTHER NATIONALITIES

[180 rows x 1 columns]